.container {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 32px 16px 40px 16px;
  --brushes: #C5E0FF;
  --outlines: #C5E0FF;
}

igc-category-chart {
  width: 100%;
  height: 100%;
}