.polar-chart-container {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 32px 16px 48px 16px;
}

.legend-title {
  margin-left: 8px;
}

.chart-wrapper,
igc-data-chart {
  height: 100%;
  width: 100%;
}