.container {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 32px 16px 56px 16px;
}

.legend-title {
  padding-bottom: 20px;
}

.chart-wrapper,
igc-category-chart {
  height: 100%;
  --brushes: #C5E0FF, #FFB5C2, #B2E5B2;
  --outlines: #C5E0FF, #FFB5C2, #B2E5B2;
  --marker-brushes: #C5E0FF, #FFB5C2, #B2E5B2;
  --marker-outlines: #C5E0FF, #FFB5C2, #B2E5B2;
  --y-axis-label-text-color: black;
}