.container {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 32px 16px 48px 16px;
}

.legend {
  margin-bottom: 8px;
}

.legend-title {
  margin-left: 13px;
  font-size: 24px;
  font-family: "Titillium Web", sans-serif;
}

.ig-chart-legend-item {
  font-size: 12px;
  font-family: "Titillium Web", sans-serif;
}

.chart-wrapper,
igc-category-chart {
  height: 100%;
}